* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_7 {
  width: 100%;
  height: 982px;
  background: rgba(23,25,30,1);
  padding: 120px 120px;
  margin: 80px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v8_8 {
  width: 400px;
  height: 600px;
  background: url("../images/v8_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 120px;
  overflow: hidden;
}
.v8_9 {
  width: 833px;
  height: 520px;
  background: url("../images/v8_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 34px;
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 600px;
  overflow: hidden;
}
.v8_10 {
  width: 720px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Syne;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v8_11 {
  width: 720px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 184px;
  left: 0px;
  font-family: Syne;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8_12 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 827px;
  transform: rotate(-180deg);
  overflow: hidden;
}
.v8_13 {
  width: 87px;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 7px;
}
