@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap%27");

:root {
    --bg-color: rgb(255, 0, 0);
    --container-gap: 90px;
    --container-padding: 0 120px;
    --font-family: "Syne";
    --title-size: 50px;
    --title-weight: 700;
    --text-size: 30px;
    --text-weight: 400;
}

body {
    background-color: var(--bg-color);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--container-gap);
    border-radius: 80px;
    padding: var(--container-padding);
    position: sticky;
    top: 0;
    border: 1px solid white;
    height: 100vh;
    background-color: red;
}

img {
    max-width: 400px;
    max-height: 600px;
    object-fit: cover;
}

.title,
.texte {
    font-family: var(--font-family);
}

.title {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    margin-bottom: 32px;
}

.texte {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
}

@media screen and (max-width: 800px) {
    .description {
        display: none;
    }
}
